<section class="bg-main-light w-75 mx-auto rounded p-3 shadow" *ngIf="step1">
    <form [formGroup]="forgetEmail " (ngSubmit)="forgetPassword()">
        <label for="email">email</label>
        <input formControlName="email" type="email" id="email" class="form-control">
        <button class="btn-main w-100 mt-3">Forget password</button>
        <p *ngIf="msg" class="alert alert-danger  p-1  mb-0">{{msg}} </p>
    </form>
</section>



<section class="bg-main-light w-75 mx-auto rounded p-3 shadow"*ngIf="step2">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label for="resetCode">Reset Code</label>
        <input formControlName="resetCode" type="text" id="resetCode" class="form-control">
        <button class="btn-main w-100 mt-3">ResetCode</button>
        <p *ngIf="msg" class="alert alert-danger  p-1  mb-0">{{msg}} </p>
    </form>
</section>



<section class="bg-main-light w-75 mx-auto rounded p-3 shadow"*ngIf="step3">
    <form [formGroup]="resetPassword" (ngSubmit)="resetNewPassword()" >
        <label for="email">email</label>
        <input formControlName="email" type="email" id="email" class="form-control">
        <label for="NewPassword"> ResetPassword </label>
        <input formControlName="newPassword" type="password" id="NewPassword" class="form-control">
        <button class="btn-main w-100 mt-3">ResetPassword</button>
        <p *ngIf="msg" class="alert alert-danger  p-1  mb-0">{{msg}} </p>
    </form>
</section>