<section class="w-75 mx-auto bg-main-light p-3">
    <h1>onlinePayment:</h1>
    <form [formGroup]="orderForm" (ngSubmit)="handelForm()" >
        <div class="formItem">
            <label for="details">details</label>
            <input type="text" name="details" id="details" formControlName="details" class="form-control" >
        </div>
        <div class="formItem">
            <label for="phone">phone</label>
            <input type="tel" name="phone" id="phone" formControlName="phone" class="form-control">
        </div>
        <div class="formItem">
            <label for="city">city</label>
            <input type="text" name="city" id="city" formControlName="city" class="form-control">
        </div>

        <button class="btn-main my-3">chekOut</button>
        
    </form>

</section>