<section class="w-75 mx-auto my-4 bg-main-light p-2 rounded-1 ">
    <h1 class="h2">Login :</h1>

    <form  [formGroup]="loginForm" (ngSubmit)=" handelForm()" >


        
        <div class="pb-2">
            <label for="email">email:</label>
            <input #userInputEmail type="email" id="email" class="form-control" formControlName="email">
            <div class="alert-danger alert" *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || userInputEmail.value.length>0)">
                <p *ngIf="loginForm.get('email')?.getError('required')">email is required</p>
                <p *ngIf="loginForm.get('email')?.getError('email')">email is invalid</p>
    

            </div>
        </div>
        
        <div class="pb-2">
            <label for="password">password:</label>
            <input #userInputPassword type="password" id="password" class="form-control" formControlName="password">
            <div class="alert-danger alert" *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched|| userInputPassword.value.length>0)">
                <p *ngIf="loginForm.get('password')?.getError('required')">password is required</p>
                <p *ngIf="loginForm.get('password')?.getError('pattern')">password must start with upperCase then from 6 to 10</p>
    

            </div>
        </div>
        
 

        <button  [disabled]="loginForm.invalid" class="btn-main ms-auto d-block">
            <i class="fas fa-spinner fa-spin" *ngIf="isLoading"></i>
            Login</button>
        
        <p class="alert alert-danger my-2" *ngIf="msgError" >{{msgError}}</p>
    </form>

    <h5 class="py-3 fw-bold  w-25 text-primary cursor-pointer" routerLink="/forgetPassword">Forget Password ?</h5>
</section>